[Unit]
Description=Run Theera OS Security Updates Daily
Requires=theera-security-updates.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
